[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pylint = "*"
djangorestframework = "*"
djangorestframework-camel-case = "*"
psycopg2-binary = "*"
pyjwt = "*"

[dev-packages]

[requires]
python_version = "3.8"
